@import url('./__overlay/popup__overlay.css');
@import url('./__form/popup__form.css');
@import url('./__title/popup__title.css');
@import url('./__field/popup__field.css');
@import url('./__field/_type/popup__field_type_name.css');
@import url('./__field/_type/popup__field_type_description.css');
@import url('./__save-button/popup__save-button.css');
@import url('./__close-button/popup__close-button.css');

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
