@import url('./__logo/header__logo.css');
@import url('./__line/header__line.css');

.header {
    display: flex;
    width: 74%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 37px;
}

@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        padding-top: 28px;
    }
}