@import url('./__logo/header__logo.css');

.header {
    display: flex;
    max-width: 882px;
    width: 74%;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 480px) {
    .header {
        width: 100%;
        padding-top: 28px;
    }
}
